@model ShopDoNu.Models.Category

@{
    ViewBag.Title = "DeleteCategory";
    Layout = "~/Areas/Admin/Views/Shared/Admin_LayoutPage.cshtml";
}

@using (Html.BeginForm("DeleteCategory", "Category", new { area = "Admin", id = Model.Id }, FormMethod.Post))
{
    <input type="hidden" name="Id" value="@Model.Id" />
    <table class="table">
        <tr>
            <td><h2 style="color:red; text-align:center">Do you want to delete @ViewBag.Name?</h2></td>
            <td><button type="submit" class=" btn">Yes</button></td>
            <td><a href="/Admin/Category" class="btn">No</a></td>
        </tr>
    </table>
}

